<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SignUp to bonga!</title>
  <!-- Bootstrap CSS -->
  <link rel="shortcut icon" href="static/assets/ico/favicon.ico" />
  <link rel="stylesheet" href="static/assets/custom-bootstrap/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="static/assets/jquery-ui-1.12.1/jquery-ui.min.css" />
  <link rel="stylesheet" href="static/assets/css/register-style.css" />
  <style>
    #datepicker input {
      height: 30px;
      border-radius: 5px;
      background: #333;
      color: white;
      padding: 5px;
    }
  </style>

</head>

<body>
  <div class="mt-4">
    <form action="/signup" method="post" id="register" class="col-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-8 col-xl-6">
            <div id="error" class="row align-items-center mt-4 alert alert-danger d-none" role="alert">
              <div class="col">
                <span id="text">
                  All fields must be filled!
                </span>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" placeholder="John" name="first_name" id="first_name"
                  title="Name must not contain numbers or special characters" required pattern="^[A-Za-z]{2,35}">
              </div>
              <div class="col">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" placeholder="Doe" name="last_name" id="last_name"
                  title="Name must not contain numbers or special characters" required pattern="^[A-Za-z]{1,35}">
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                <label for="email">Email Address</label>
                <input type="email" id="email" class="form-control" placeholder="jdoe@mymail.com" name="email" required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              </div>
            </div>
            <div class="row mt-4">
              <div class="align-items-center col row">
                <div class="col my-auto">
                  <label for="datepicker">Birth Day</label>
                  <input class="form-control form-control-sm text-center" type="text" name="birth_date" id="datepicker"
                    autocomplete="bday" required placeholder="12 January, 1920">
                </div>
              </div>
              <div class="col row align-items-center">
                <div class="col-4 mr-0 pr-0">
                  <span>Gender</span>
                </div>
                <div class="col row">
                  <div class="col form-check form-check-inline">
                    <input type="radio" name="gender" id="female" value="0" class="form-check-input" checked />
                    <label for="female" class="form-check-label">Female</label>
                  </div>
                  <div class="col form-check form-check-inline">
                    <input type="radio" name="gender" id="male" value="1" class="form-check-input" />
                    <label for="male" class="form-check-label">Male</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                <label for="password">Password</label>
                <input name="password" id="password" type="password" class="form-control" placeholder="Password"
                  aria-describedby="passwordHelpBlock" autocomplete="off" required
                  pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
              </div>
              <div class="col">
                <label for="password_conf">Confirm Password</label>
                <input name="password_conf" id="password_conf" type="password" class="form-control"
                  placeholder="Confirm Password" aria-describedby="passwordHelpBlock" autocomplete="off" required
                  pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <small id="passwordHelpBlock" class="form-text text-muted">
                  Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                  spaces,
                  special
                  characters, or emoji.
                </small>
              </div>
            </div>
            <div class="row justify-content-start mt-4">
              <div class="col">
                <input type="text" name="username" id="username" class="form-control" placeholder="Username"
                  aria-describedby="usernameHelpBlock" required pattern="^[A-Za-z0-9_]{1,15}$">
              </div>
              <div class="col">
                <small id="usernameHelpBlock" class="form-text text-muted mt-0">
                  Username might contain uppercase, lowercase, and/or numbers. Special characters aren't allowed.
                </small>
              </div>
            </div>
            <div class="row justify-content-start mt-4">
              <div class="col">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="checkbox" id="terms_and_conditions" class="form-check-input" required>
                    I Read and Accept
                    <a href="https://www.froala.com">Terms and Conditions</a>
                  </label>
                </div>
              </div>
            </div>
            <div class="row justify-content-start">
              <div class="col">
                <input type="submit" value="Register" id="register-btn" class="btn btn-outline-primary mt-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script src="static/assets/js/jquery.min.js"></script>
  <script src="static/assets/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="static/assets/js/popper.min.js"></script>
  <script src="static/assets/custom-bootstrap/bootstrap/dist/js/bootstrap.js"></script>
  <script src="static/assets/js/app.js"></script>
  <script src="static/assets/js/signup.js"></script>

  <script>
  </script>
</body>

</html>